@charset "utf-8";
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  /* src: url(fonts/Rubik_80s_Fade/Rubik80sFade-Regular.ttf) format('truetype'), /* Safari, Android, iOS */
  src: url(fonts/Rubik_Glitch/RubikGlitch-Regular.ttf),
}

.author-name {
    font-family: Rubik;
    text-decoration: none;
    font-size: 35px;
    padding: none;
}
.trigger {
  padding-top: 2%;
}
